<div class="container-fluid">

  <div class="row panel panel-default">
    <div id="serialConfig" class="col-md-4"></div>
    <script type="text/babel" src="../static/src/serialconfig.js"></script>

    <div id="reposetting" class="col-md-5"></div>
    <script type="text/babel" src="../static/src/reposetting.js"></script>
  </div>

  <div class="row panel panel-default">
    <div id="filerepo" class="col-xs-7"></div>
    <script type="text/babel" src="../static/src/filerepo.js"></script>

    <div id="command" class="col-xs-5"></div>
    <script type="text/babel" src="../static/src/command.js"></script>
  </div>



</div>


<!-- Serial communication -->
<!-- 
<div id="message" ></div>
<script type="text/babel" src="../static/src/message.js"></script>





-->




<!-- File repository-->
<!--
  <div id="remoteserver"></div>
<div id="filerepo"></div>
<script type="text/babel" src="../static/src/remoteserver.js"></script>
<script type="text/babel" src="../static/src/filerepo.js"></script>

  -->


<!--


<script type="text/babel" src="../static/src/filetable.js"></script>
<script type="text/babel" src="../static/src/filerepo.js"></script>


-->