<header>
  <h1>Ruby Client</h1>
</header>

<div id="serialConfig" ></div>
<script type="text/babel" src="../static/src/serialconfig.js"></script>
<div id="message" ></div>
<script type="text/babel" src="../static/src/message.js"></script>



<!-- Serial communication -->
<!-- 




-->



<!-- File repository-->
<!--
  <div id="remoteserver"></div>
<div id="filerepo"></div>
<script type="text/babel" src="../static/src/remoteserver.js"></script>
<script type="text/babel" src="../static/src/filerepo.js"></script>

  -->


<!--


<script type="text/babel" src="../static/src/filetable.js"></script>
<script type="text/babel" src="../static/src/filerepo.js"></script>


-->