<!DOCTYPE html>

<html>

<head>
  <title>Ruby</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <!-- 3.1.0 -->
  <script type="text/javascript" src="../static/js/jquery/jquery-3.1.0.min.js"></script>

  <!-- 15.3.0 -->
  <script type="text/javascript" src="../static/js/react/react.min.js"></script>
  <script type="text/javascript" src="../static/js/react/react-dom.min.js"></script>



  <!-- 1.6.0 -->
  <script type="text/javascript" src="../static/js/react/remarkable.min.js"></script>
  
  
  <!-- 5.8.34 -->
  <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script> -->
  <script src="../static/js/react/browser.min.js"></script>


</head>
<body>
  {{.LayoutContent}}
</body>

</html>