<!DOCTYPE html>

<html>

<head>
  <title>Ruby Client</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <!-- 3.1.1 -->
  <script type="text/javascript" src="../static/js/jquery/dist/jquery.min.js"></script>

  <!-- 15.4.1 -->
  <script type="text/javascript" src="../static/js/react/dist/react.js"></script>
  <script type="text/javascript" src="../static/js/react-dom/dist/react-dom.js"></script>

    <!-- 5.8.38 -->
    <script src="../static/js/babel-core/browser.min.js"></script>
 

  <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.38/browser.min.js"></script>  
    
  

-->

  <!-- 1.6.0 -->
 <!--  <script type="text/javascript" src="../static/js/react-15.3.0/remarkable.min.js"></script>
-->


</head>

<body>
  {{.LayoutContent}}
</body>

</html>